# Skripte

Ova *Jupyter* bilježnica služi za testiranje i demonstraciju *Python* skripti vlastite izrade.

In [1]:
##  PRIPREMA PYTHON OKRUZENJA

# IPython
from IPython import *
from IPython.display import *

# Standardna Python biblioteka
import copy
import math
import os
import six
import sys
import time

# SciPy paketi
import matplotlib as mpl
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import sympy as sym

# Postavi prikaz grafova unutar biljeznice.
%matplotlib inline

# Postavi stil grafova na `ggplot'.
plt.style.use('ggplot')

# Inicijaliziraj ispis simbolickog racuna.
sym.init_printing()

In [2]:
df = pd.read_pickle('data/training_dataset_enc.pkl')

In [3]:
from script.feature_engineering import *

In [4]:
groups = [(i, (2.0 ** -i, i ** -2.0)) for i in range(1, 13)]
features = {
    'PRVI' : lambda x : x[0],
    'DRUGI' : lambda x : x[1],
    'KOMPLEKS' : lambda x : (x[0] + x[1] * (0.0+1.0j))
}

In [5]:
feat_df = feat(groups, features)

In [6]:
feat_df

    ID      PRVI     DRUGI                                KOMPLEKS
0    1  0.500000  1.000000                                (0.5+1j)
1    2  0.250000  0.250000                            (0.25+0.25j)
2    3  0.125000  0.111111             (0.125+0.1111111111111111j)
3    4  0.062500  0.062500                        (0.0625+0.0625j)
4    5  0.031250  0.040000                         (0.03125+0.04j)
5    6  0.015625  0.027778        (0.015625+0.027777777777777776j)
6    7  0.007812  0.020408        (0.0078125+0.02040816326530612j)
7    8  0.003906  0.015625                  (0.00390625+0.015625j)
8    9  0.001953  0.012346     (0.001953125+0.012345679012345678j)
9   10  0.000977  0.010000                    (0.0009765625+0.01j)
10  11  0.000488  0.008264   (0.00048828125+0.008264462809917356j)
11  12  0.000244  0.006944  (0.000244140625+0.006944444444444444j)